.mainDashWrapper{
    width: 100%;
}

.mainDashSection{
    width: 100%;
    margin-top: 15px;
    padding: 15px 25px;
    background: rgb(252, 252, 252);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.413);
    position: relative;

    img{
        position: absolute;
        right: -5px;
        top: -60px;
        box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.345);
        width: 130px;
        height: 130px;
        border-radius: 50%;
        @media(max-width: 650px){
            width: 100px;
            height: 100px;
        }
        @media(max-width: 550px){
            position: static;
            border-radius: 0%;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.345);
        }
    }
}
.bio{
    width: 70%;
    padding: 15px 0;
    margin: auto;
}

.topDash{
    padding: 10px 0;
    @media(max-width: 550px){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.tips{
    max-height: 500px;
    @media(max-width: 1500px){
        height: 230px;
    }
}